*{
    color: white;
    text-transform: capitalize;
    
}
body{
    background: url(background.jpg);
    background-size: cover;
    background-position: bottom;
    font-family: "Comfortaa", sans-serif;
    
}
.navBar{
    height: 10vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBarparentdiv{
    width: 50%;
    position: relative;
   

}
.Inputfield{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    color: black;
}
.searchicon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.searchicon:hover{
    cursor: pointer;
}
.main-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.leftdiv{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}
.leftchild{
    background: rgba(212, 212, 212, 0.4);
    width: 85%;
    height: 40vh;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.currenttempdiv h6{
    font-size: larger;
}
#cityname{
    font-size: xx-large;
    font-weight: bold;
}
#citytemp{
    font-size: x-large;
    font-weight: bold;  
}
#fivedayshead{
    font-size: x-large;
}
.rightdiv{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightrow{
    height:27vh;
    width: 100%;
  
}
.extramatric{
     background: rgba(212, 212, 212, 0.4);
     backdrop-filter: blur(15px);
     padding:5% 2%;
     width: fit-content;
     border-radius: 15px;
     align-items: center;
}
.row2div{
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    height: 95%;
    width: 45%;
    border-radius: 15px;
    }

.todaytemp{
    width: 120px;
    background: rgba(212, 212, 212, 0.4);
     backdrop-filter: blur(15px);
     border-radius: 15px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     gap: 5px;
     align-items: center;
     justify-content: center;
}

@media only screen and (max-width: 768px) {
    body{
    background: url(background.jpg);
    
}
   .leftdiv {
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
    .rightdiv{
        width: 100%;
    }
    .main-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
}
    .navBar{
        width: 100%;
    }
    .navBarparentdiv{
        width: 85%;
        height: fit-content;
        position: relative;
    }
    .row-1{
        flex-wrap: wrap;
        width: 85%;
        margin: auto;

    }
    .row-2{
        flex-direction: column;
        gap: 20px;
        height: 30vh;
    }
    .row2div{
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    height: 85%;
    width: 85%;
    border-radius: 15px;
    }
     .row-3{
        width: 85%;
        margin: auto;
   }
   .todaytempdiv{
    flex-wrap: wrap;
    margin: auto;
    gap: 15px;
    width: 100%;
   }
  
}